body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

h1,h2 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

input {
    width: 45%;
    padding: 10px;
    margin: 5px;
}

.button {
    padding: 7px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}

li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid var(--tg-theme-section-separator-color);
}

bottom {
    color: var(--tg-theme-hint-color);
    position: fixed;
    left: 50%;
    translate: -50% -0%;
    bottom: 10px;
}

p.balance {
    font-size: 18px;
    font-family: Verdana, Geneva, Arial;
    margin: 0;
    text-align: center;
}
p.val {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
    font-family: monospace;
    text-align: center;
}