body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000;
    height: 95vh;
    width: 99%;
}
img {
    width: 50%;
}